.login {
  width: 700px;
  background-color: rgb(39, 39, 39);
  margin-left: 70px;
  margin-top: 50px;
  border-radius: 10px;
}

.name {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: rgb(160, 160, 160);
  border-radius: 10px;
  padding: 5px 0;
  width: 500px;
  margin-left: 98px;
}

.text_name {
  margin-left: 98px;
  margin-bottom: 10px;
}

.email {
  margin-bottom: 10px;
  background-color: rgb(160, 160, 160);
  border-radius: 10px;
  padding: 5px 0;
  width: 500px;
  margin-left: 98px;
}

.text_email {
  margin-left: 98px;
  margin-bottom: 10px;
}

.button_login {
  width: 130px;
  height: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 283px;
  border-radius: 10px;
}
