.tong_login {
  /* background-image: url("https://png.pngtree.com/thumb_back/fh260/background/20230617/pngtree-meteor-showers-and-meteor-streaks-in-the-sky-image_2975226.jpg"); */
  background-size: cover; /* giúp ảnh phủ hết toàn màn hình */
  background-position: center; /* căn giữa ảnh */
  background-repeat: no-repeat; /* không lặp ảnh */

  min-height: 100vh; /* 100% chiều cao màn hình */
  display: flex; /* để căn giữa login box */
  justify-content: center;
  align-items: center;
  margin: 0; /* bỏ margin thừa */
  padding: 40px 0;
}

.login {
  background-image: url("https://png.pngtree.com/thumb_back/fh260/background/20230617/pngtree-meteor-showers-and-meteor-streaks-in-the-sky-image_2975226.jpg");
  width: 500px;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: rgba(255, 255, 255, 0.27) 0 0 34px;
  transition: border 1.5s ease, box-shadow 0.5s ease;
  padding: 30px 90px;
}

.login:hover {
  box-shadow: rgba(255, 255, 255, 0.333) 0 0 65px;
  border: 1px solid rgb(252, 186, 197);
  cursor: pointer;
}

.dangnhap {
  font-size: 40px;
  color: rgba(248, 62, 62, 0.764);
}

.ten {
  display: flex;
}

.firstName {
  margin-right: 150px;
}

.titlefirstName {
  color: rgba(248, 62, 62, 0.764);
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 7px;
}

.inputfirstName {
  width: 120%;
  display: block;
  padding: 8px;
  border-radius: 10px;
}

.errorfirstName {
  color: rgba(248, 62, 62, 0.764);
  margin-top: 7px;
  font-size: 15;
}

.titlelastName {
  color: rgba(248, 62, 62, 0.764);
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 7px;
}

.inputlastName {
  width: 120%;
  display: block;
  padding: 8px;
  border-radius: 10px;
}

.errorlastName {
  color: rgba(248, 62, 62, 0.764);
  margin-top: 7px;
  font-size: 15;
}

.email {
  margin-bottom: 15px;
}

.titleemail {
  color: rgba(248, 62, 62, 0.764);
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 7px;
}

.inputemail {
  width: 100%;
  display: block;
  padding: 8px;
  border-radius: 10px;
}

.erroremail {
  color: rgba(248, 62, 62, 0.764);
  margin-top: 7px;
  font-size: 15;
}

.pass {
  margin-bottom: 15px;
}

.titlepass {
  color: rgba(248, 62, 62, 0.764);
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 7px;
}

.inputpass {
  width: 100%;
  display: block;
  padding: 8px;
  border-radius: 10px;
}

.errorpass {
  color: rgba(248, 62, 62, 0.764);
  margin-top: 7px;
  font-size: 15;
}

.button {
  border-radius: 10px;
  height: 30px;
  width: 100px;
}
