
.newposts {
    color: rgb(164, 164, 5);
    margin-bottom: 40px;
    margin-top: 30px;
    font-size: 40px;
    display: inline-block;
    position: relative;
}

.newposts::after {
    content: "";
    position: absolute;
    top: 50%; /* canh giữa theo chiều dọc */
    left: 110%; /* đặt cạnh phải của chữ */
    transform: translateY(-50%); /* căn giữa hoàn hảo */
    width: 700px; /* độ dài gạch */
    height: 2px; /* độ dày gạch */
    background: linear-gradient(
        to right,
        rgb(164, 164, 5),
        rgba(255, 255, 255, 0)
    ); /* mờ dần */
}
