.footer {
  /* color: white; */
  /* border: 1px solid white; */
  /* background-color: gray; */
  font-weight: 900;
}

.footer_content {
  padding: 15px 0;
  border-top: 1px solid white;
}

.footer_menu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.footer_menu_item {
  color: white;
}
.footer_menu_item:hover {
  color: pink;
  cursor: pointer;
}
